body {
  font-size: 12pt;
  font-family: "CenturyGothic", Century gothic, sans-serif;
  color: #333333;
  background: #ececec;
  padding: 20px 5%;
  margin: 0;
}

h1 {
  font-size: 35pt;
  color: #099ed6;
  text-align: center;
}

h2 {
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}

p, th {
    font-size: 12pt;
    font-weight: normal;
}

th{
  padding: 0.5em;
}

label {
    font-size: 13pt;
    font-weight: bold;
}

table{
    width: 100%;
}

tr.header-table-l, th.header-table-l{
  border: 1px solid white;
  text-align: center;
  padding-left: 1em;
}

tr.header-table-r, th.header-table-r{
  border: 1px solid white;
  text-align: center;
  padding-right: 1em;
}

tr.header-table-tl, th.header-table-tl{
  border: 1px solid white;
  text-align: center;
  padding-top: 1em;
  padding-left: 1em;
}

tr.header-table-tr, th.header-table-tr{
  border: 1px solid white;
  text-align: center;
  padding-top: 1em;
  padding-right: 1em;
}

tr.header-table-bl, th.header-table-bl{
  border: 1px solid white;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1em;
}

tr.header-table-br, th.header-table-br{
  border: 1px solid white;
  text-align: center;
  padding-bottom: 1em;
  padding-right: 1em;
}

#go_button{
    background-color: #5CA300;
    position: absolute;
    right: -1em;
    bottom: -1em;
    box-shadow: 3px 3px 7px;
}

.box_container {
  background-color: white;
  background: white;
  position: relative;

  max-width: 105em;
  border-radius: 6px;
  box-shadow: 3px 3px 7px;
  padding: 1em;
  margin: 1em;
}

td {
}

#floating_left {
  width: 40%;
  float: left;
  background-color: #099ed6;*
}

#floating_right {
  width: 50%;
  float: right;
  background-color: #7AD600;
  border-collapse: collapse;
  border-style: hidden;
}

a {
  color: #333333;
}

#innerTab tr:nth-child(even){
  background-color: black;
}

#innerTab tr:hover {
  background-color: #eee;
}

#innerTab td {
  border-inline: 1px solid #ddd;
  padding: 8px;
}

#innerTab th{
  background-color: #099ed6;
  font-weight: bold;
  text-align: center;
  font-size: 13pt;
  padding: 8px;
}

#container{
  height: 15cm;
}

#category_tab_switcher_p{
  text-align: center;
  color: #333;
}

#category_tab_switcher_p:hover{
  text-decoration: underline;
}

#displayInfo {
  height: 10cm;
  height: max-content;
}